.footer-nav {
  display: flex;
  margin-top: 30px;

  &__list {
    @include list-null;

  }


  &__list:first-child {
    margin-right: 34px;
  }


  &__item {

  }


  &__link {
    @include link-white;
    position: relative;
    font-size: 13px;
  }


  &__link-svg {
    position: absolute;
    top: 50%;
    left: -20px;
    transform:translateY(-50%);
    fill:#fff;
  }
}