.navigation {
  flex-grow: 1;

  &__list {
    @include list-null;
    margin-top: 14px;
    font-size: 0;
  }


  &__item {
    display: inline-block;
    vertical-align: top;
    height: 32px;
    font-size: 16px;
    line-height: 1.3;
    font-weight: 500;
    border-radius: 16px;
    transition: background-color 0.3s, color 0.3s;
  }


  &__link--active  {
    background-color: #d07058;
    cursor: default;
  }


  &__item--sub {
    position: relative;
  }


  &__item--sub:hover &__sub-list {
    display: block;
  }


  &__item:hover {
    background-color: #f7f6f3;
  }


  &__link {
    position: relative;
    display: block;
    height: 32px;
    padding: 3px 14px;
    color: $c_white;
    text-decoration: none;
    border-radius: 16px;
    border-top: 3px solid transparent;
  }


  &__item:hover  &__link:not(.navigation__link--active) {
    color: $c_black;
  }


  &__item &__link:not(.navigation__link--active):active {
    border-top-color: #696969;
  }


  &__link:not(.navigation__link--active) &__link-inner {
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  }


  &__item:hover &__link-inner {
    border-bottom: none;
  }


  &__link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    height: 20px;
    width: 100%;
  }


  &__sub-list {
    @include list-null;
    position: absolute;
    z-index: 2;
    top: 37px;
    left: -7px;
    display: none;
    width: 143px;
    font-size: 14px;
    font-weight: 400;
    border-radius: 5px;
    background-color: #f8f7f4;
    box-shadow: $shadow;
  }


  &__sub-title,
  &__sub-link {
    display: block;
    height: 33px;
    padding-left: 20px;
    padding-top: 8px;
    text-decoration: none;
    color: #343434;
  }


  &__sub-item:last-of-type &__sub-link{
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
  }


  &__sub-title {
    position: relative;
    height: 39px;
    padding-top: 10px;
    font-weight: 500;
  }


  &__sub-title::after {
    content: "";
    position: absolute;
    left: 6px;
    bottom: 0;
    height: 1px;
    width: 128px;
    background-color: #d1d0ce;
  }


  &__sub-link:not(.navigation__sub-link--active):hover {
    background-color: #fbded8;
  }


  &__sub-link:not(.navigation__sub-link--active):active {
    background-color: #f6b5a5;
  }

  &__sub-link--active {
    background-color: #d07058;
    color: $c_white;
  }
}