.page-header {
  padding-top: 9px;


  &__wrap {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }


  &__logo {
    position: relative;
    left: -5px;
    width: 154px;
    margin-right: 9px;
  }


  &__logo-svg {
    fill:#fff;
  }
}