.page-header {
  margin-top: 9px;

  &__wrap {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &__logo {
    position: relative;
    left: -6px;
    width: 154px;
    margin-right: 9px;
  }
}