.page-main {


  &__contact {
    position: absolute;
    top: -6px;
    right: 26px;
    max-width: 200px;
    height: 50px;
    font-weight: $font-w--bold;
    color: $c_white;
    text-align: right;
  }


  &__contact-time {
    font-size: 14px;
    margin-bottom: 2px;
  }


  &__contact-number {
    font-size: 22px;
    font-weight: $font-w--black;
  }


  &__breadcrumbs {
    @include list-null;
    display: flex;
    padding-top: 20px;
    margin-bottom: 5px;
  }

  // &#187;
  &__breadcrumbs-item {
    position: relative;
    margin-right: 20px;
    font-size: 14px;
    font-weight: $font-w--regular;
    color: $c_white;
  }

  &__breadcrumbs-item:not(:last-child)::after {
    position: absolute;
    top: 0;
    right: -13px;
    content:"\00BB";
  }


  &__breadcrumbs-link {
    @include link-white;
  }


  &__title {
    margin-bottom: 52px;
    font-size: 35px;
    line-height: 35px;
    font-weight: $font-w--bold;
    color: $c_white;
  }
}