 .slider {


  &-input {
    display: none;
  }

  &-input[id="toggle-1"]:checked ~ .page {
    background-color: $bg_base-green;
    background-image: url(../img/bg_slide-1.png);
    background-repeat: no-repeat;
    background-position: 50% 0;
  }


  &-input[id="toggle-2"]:checked ~ .page {
    background-color: $bg_base-blue;
    background-image: url(../img/bg_slide-2.png);
    background-repeat: no-repeat;
    background-position: 50% 0;
  }


  &-input[id="toggle-3"]:checked ~ .page {
    background-color: $bg_base-red;
    background-image: url(../img/bg_slide-3.png);
    background-repeat: no-repeat;
    background-position: 50% 0;
  }
}