.sorting {


  &__wrap {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 38px;
  }

  &__item {
    position: relative;
    height: 36px;
    margin-right: 16px;
    border-radius: 18px;
    font-size: 16px;
    font-weight: $font-w--medium;
    color: $c_white;
    background-color: rgba(248, 247, 244, 0.2);
  }


  &__title {
    position: absolute;
    top: -22px;
    left: 16px;
    font-size: 14px;
    color: $c_white;
    font-weight: $font-w--medium;
  }


  &__item--options {
    width: 193px;
    padding: 0;
    border-radius: 30px;
    font-size: 16px;
    color: #343434;
  }


  &__select {
    position: relative;
    display: block;
    height: 36px;
    padding: 5px 8px;
    padding-left: 10px;
    width: 100%;
    border-radius: 20px;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    appearance: none;
    outline: none;
    font-size: 16px;
    font-weight: $font-w--medium;
    text-indent: 0.01px;
    text-overflow: "";
    cursor: pointer;
    color: $c_white;
  }


  &__select:-moz-focus-inner {
    border:0;
  }


  &__select::-ms-expand {
    display: none;
  }


  &__select:focus,
  &__select:hover {
    color: #343434;
    background-color: #fff;
  }


  &__select-icon {
    content: "";
    position: absolute;
    top: 16px;
    right: 13px;
    border: 5px solid transparent;
    border-top-color: #fff;
    cursor: pointer;
  }


  &__select:focus + &__select-icon,
  &__select:hover + &__select-icon {
    border-top-color: #000;
  }


  &__item--range-filter {
    width: 220px;
  }


  &__item--fat {
    width: 415px;
  }


  &__fat-list {
    @include list-null;
    display: flex;
  }


  &__fat-item {

  }


  &__filler-list {
    @include list-null;
    display: flex;
    width: 702px;
  }


  &__item--btn {
    width: 144px;
  }
}