.subscribe {
  display: flex;
  width: 100%;
  margin-bottom: 40px;
  padding: 6px;
  border-radius: 13px;
  background-color: #f8f7f4;
  background-image: url(../img/bg_info-subscribe.png);
  background-repeat: repeat;


  &__wrap {
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    width: 100%;
    padding-top: 29px;
    padding-bottom: 33px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    background-color: #f8f7f4;
  }


  &__text {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 22px;
    font-weight: $font-w--regular;
    color: #5a5a5a;
  }

  &__form {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    width: 507px;
  }

  &__input {
    @include input-null;
    @include input;
    flex-grow: 1;
    width: 100%;
    height: 44px;
    margin-right: 140px;
    padding:  11px;
    font-size: 14px;
  }


  &__input:hover,
  &__input:focus {
    padding: 0 10px;
  }


  &__input-label {
    flex-grow: 1;
  }


  &__input-name {
    top: 4px;
    left: 11px;
  }
}